<h1>Physicians</h1>
<hr />
<%= link_to "Add Physician", new_physician_path, class: "ui button blue inverted" %>
<div class="ui divided items">
  <% @physicians.each do |physician| %>

  
    <div class="item">
      <div class="ui small image">
        <img src="https://robohash.org/<%= physician.full_name %>1?set=set4" />
      </div>
      <div class="content">
        <a class="header"><%= link_to physician.full_name, edit_physician_path(physician)%></a>
        <div class="meta">
          <span>Details</span>
        </div>
        <div class="description">
          <p>Physician details will go here</p>
        </div>
         <div class="extra">
        <%= link_to "Delete", physician_path(physician), method: :delete, class:"ui button red inverted"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
